<p style="color: green"><%= notice %></p>

<%= render @home_page %>

<div>
  <%= link_to "Edit this home page", edit_home_page_path(@home_page) %> |
  <%= link_to "Back to home pages", home_pages_path %>

  <%= button_to "Destroy this home page", @home_page, method: :delete %>
</div>
